# Xcode
DerivedData/
build/
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
.DS_Store

# Swift Package Manager
.swiftpm/
.build/
Packages/

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Secrets
Core/Config/Secrets.swift

# Environment
.env
